#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.brand-logo {
  height: 5vh;
}

.helper-image {
  height: 20vmin;
}

.icon-link {
  color: inherit;
}

.icon-link:hover {
  color: inherit;
}
